{
  "extends": "airbnb" ,
  "parser": "@babel/eslint-parser",
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "commonjs": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
  }
}
